%p.normal
  %label{ :for => 'irc_notifier_uri' } Send to
  %input.text#irc_notifier_uri{ :name => 'notifiers[IRC][uri]', :type => 'text', :value => config['uri'] || 'irc://irc.freenode.net:6667/integrity' }
